.container, .header, .main-rect, .left, .rect-without-left, .main-wrapper, .main-content, .sidebar.right, .b-f-col, .footer, .bottom, .images img {
    border: 0.4px solid black;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}

.header h1{
    float: left;
    padding-left: 40px;
}

.bottom h4{
    float: left;
    padding-left: 30px;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    background-color: #b0c4de;
    text-align: right;
    padding-right: 10%;
    padding: 10px;
}

.header .h-b-text {
    background-color: white;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-right: auto;
}

.main-rect {
    position: relative;
    height: calc(100% - 60px);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #e0f2be;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar.right {
    position: absolute;
    top: 0;
    right: 0px;
    width: 200px;
    height: 100%;
    background-color: #e0f2be;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.rect-without-left {
    margin-left: 200px;

    height: 100%;
}

.main-wrapper {
    position: relative;
    height: calc(100% - 160px); 
    overflow-y: auto;
    box-sizing: border-box;
}

.main-content {
    height: 100%;
    padding: 20px;
    padding-right: 140px;
    overflow-y: auto;
    box-sizing: border-box;
}

.images {
    overflow: hidden;
}

.image-item {
    width: 48%;
    float: left; 
    text-align: center;
    margin-bottom: 20px;
}

.images img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
}

.b-f-col {
    position: absolute;
    bottom: 0;
    left: 200px;
    right: 0px;
}

.footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.bottom {
    background-color: #b0c4de;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.bottom .h-b-text {
    background-color: white;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
}

td {
    padding: 10px 50px;
    background-color: white;
    border-radius: 10px;
    text-align: center;

}

tr {
    padding-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

td:hover {
    background-color: rgb(201, 219, 219);
    cursor: pointer;
}
