




.container, .header, .main-rect, .left, .rect-without-left, .main-wrapper, .main-content, .sidebar.right, .b-f-col, .footer, .bottom, .images img {
    border: 0.4px solid black;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #b0c4de;
    text-align: right;
    padding-right: 10%;
    padding: 10px;
    
}

.header .h-b-text {
    background-color: white;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-right: auto;
}


.main-rect {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left {
    width: 200px;
    background-color: #e0f2be;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar.right {
    width: 200px;
    background-color: #e0f2be;
    padding: 20px;
    box-sizing: border-box;
}

.rect-without-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}


.main-content {
    flex: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto; 
    box-sizing: border-box;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-item {
    width: 48%;
    text-align: center;
    margin-bottom: 20px;
}

.images img {
    width: 300px; 
    height: 200px;
    max-height: 200px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
}


.b-f-col {
    display: flex;
    flex-direction: column;
    
}

.footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.bottom {
    background-color: #b0c4de;
    text-align: right;
    padding: 20px;
}

.bottom .h-b-text {
    background-color: white;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
}


td {
    padding: 10px 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

tr{
    padding-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

td:hover {
    background-color: rgb(201, 219, 219);
    cursor: pointer;
}