body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.header {
    background-color: #b0c4de;
    padding: 20px;
    text-align: right;
    padding-right: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    border: 0.5px solid black;
}

.main-rect {
    display: flex;
    flex: 1;
    overflow: hidden; 
}

.sidebar.left {
    flex-basis: 200px;
    background-color: #e0f2be;
    padding: 20px;
    border: 0.5px solid black;
    align-items: center;
    text-align: center;
    display: flex;
}

.rect-without-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-wrapper {
    display: flex;
    flex: 1;
    background-color: white;
    border-left: 0.5px solid black;
    overflow: hidden; 
}

.main-content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto; 
    border-right: 0.5px solid black;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.sidebar.right {
    flex-basis: 200px;
    background-color: #e0f2be;
    border: 0.5px solid black;
    border-left: none;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.b-f-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border: 0.5px solid black;
}

.bottom {
    padding: 20px;
    background-color: #b0c4de;
    text-align: right;
    border: 0.5px solid black;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.images {
    display: flex;
    flex-wrap: wrap; /* вью зображень у ряд */
    gap: 20px; /* спейс між зображеннями */
}

.image-item {
    flex-basis: calc(50% - 20px); 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.images img {
    width: 300px; 
    height: 200px;
    max-height: 200px; 
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
}

td {
    padding: 10px 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

tr {
    padding-left: 10px;
}

table {
    width: 100%;
    border-spacing: 0 7px;
}

a {
    color: black;
    text-decoration: none;
}

td:hover {
    background-color: rgb(201, 219, 219);
    cursor: pointer;
}

.h-b-text {
    padding: 10px; 
    background-color: white;
    display: flex;
    justify-content: center; /* по горизонталі */
    align-items: center; /* по вертикалі */
    width: 100%; 
    max-width: 200px; 
    text-align: center; 
    border-radius: 5px; 
    margin-left: auto; 
}

.header, .bottom {
    text-align: right; 
    padding-right: 10%; 
}